// Farvevariabler
$primary-green: #28885f;
$light-green-bg: #d7e6dd;
$body-bg: #edf3f0;
$dark-green-hover: #1f6e4d;
$text-dark: #000000;
$text-light-gray: #444;

// Font variabler
$font-serif: "DM Serif Display", serif;
$font-sans: "DM Sans", sans-serif;
