/* Error: Can't find stylesheet to import.
 *    ,
 * 11 | @use "bulma";
 *    | ^^^^^^^^^^^^
 *    '
 *   scss/main.scss 11:1  root stylesheet */

body::before {
  font-family:
    "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Can\'t find stylesheet to import.\a    \2577 \a 11 \2502  @use "bulma";\a    \2502  ^^^^^^^^^^^^\a    \2575 \a   scss/main.scss 11:1  root stylesheet';
}

/* === GLOBAL === */
body {
  background: #edf3f0;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* === NAVBAR === */
.custom-nav {
  background: #edf3f0;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #444;
}

.fancy {
  color: #28885f;
}

/* === HERO === */
.hero-section {
  min-height: 100vh;
  padding-top: 120px;
}

.badge {
  background: #d7e6dd;
  color: #28885f;
  padding: 12px 16px;
  border-radius: 12px;
  text-transform: uppercase;
  display: inline-block;
}

.hero-title {
  font-family: "DM Serif Display", serif;
  font-size: 70px;
  margin-top: 20px;
}

.hero-text {
  margin-top: 24px;
  font-size: 18px;
  color: #798680;
}

.fancy-btn {
  margin-top: 30px;
  background: #28885f;
  color: white;
  border-radius: 12px;
  padding: 14px 26px;
}

.fancy-btn:hover {
  background: #1f6e4d;
}

/* === HERO IMAGES === */
.hero-images {
  position: relative;
  height: 500px;
}

.hero-images img {
  position: absolute;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.img1 {
  top: 0;
  left: 0;
  width: 220px;
  transform: rotate(-6deg);
}

.img2 {
  top: 100px;
  right: 0;
  width: 300px;
  transform: rotate(4deg);
}

.img3 {
  bottom: 0;
  left: 100px;
  width: 260px;
  transform: rotate(-3deg);
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
}
